* { marigin:0 ; padding:0}

body 
{
	 font-family: arial;
	 background-color: white;

}

#header 
{
	background-color: #18121E;
	height: 150px;
	width: 100%;
}
.container 
{
	width: 960px;
	height: auto;
	margin: 0 auto;
}

#logoArea
{	

	width: 250px;
	height: 120px;
	background-image: url(logo.jpg);
	float: left;
}

#navArea
{

	height: 100px;
	float: right;
}

#nav
{
	list-style: none;
	margin-top: 60px;
}

#nav a
{
	color:white;
	text-decoration: none;
}

#nav li
{
	float: left;
	margin-left:30px;
	background-color: #18121E; 
	padding:10px;
	border: 1px solid silver;
	border-radius: 5px;

}

#nav li:hover
{
	background-color:gray; 
}
.page
{
	background-color: white;
	padding: 20px;
}


#footer
{
	background-color: #18121E;
	height: 40px;
	width: 100%;
	color:white;
	padding-top:20px;

}


